<div *ngIf="nowPlaying; else notPlaying" class="spotify-panel">
  <div style="display: flex; justify-content: space-between">
      <h2 class="spotify-panel__header">Now Playing</h2>
      <i class="material-icons" (click)="refreshNowPlaying()" [class.loading]="loading">refresh</i>
  </div>
  <div class="spotify-panel__track-container">
    <div>
        <img src="{{nowPlayingImage}}" class="spotify-panel__image">
    </div>
    <div class="spotify-panel__text-container">
        <p class="spotify-panel__title">{{nowPlayingTitle}}</p>
        <p class="spotify-panel__artist">{{nowPlayingArtist}}</p>
    </div>
  </div>
</div>
<ng-template #notPlaying>
  <div class="spotify-panel">
      <div style="display: flex; justify-content: flex-end">
          <i class="material-icons" (click)="refreshNowPlaying()" [class.loading]="loading">refresh</i>
      </div>
      <div style="display: flex; justify-content: center; align-items: center">
        <h2 style="padding-bottom: 15px">No music playing!</h2>
      </div>
  </div>
</ng-template>